<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<link rel="stylesheet"
	href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
<script src="http://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
<script
	src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

</head>
<body>
	<form action="#" th:action="@{/actor/edit}" th:object="${actor}"
		method="POST">
		<div>
			<label th:for="${actor.firstName}"> First Name </label> 
			<input type="text" th:field="*{firstName}" th:errorclass="fieldError" />
		</div>

		<div>
			<label th:for="${actor.lastName}"> Last Name </label> <input
				type="text" th:field="*{lastName}" th:errorclass="fieldError" />
		</div>

		<div>
			<input type="submit" value="simpan" />
		</div>
	</form>
</body>
</html>