<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://code.jquery.com/ui/jquery-ui-git.css"/>

<script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function(){
	$('#details').DataTable();
	
	$.getJSON("http://localhost:8181/greet/film/", function (data){
		/*alert (data);*/
		var film = [];
		$.each (data, function(i,row)
		{
			film [i] = {
					'value': row.filmId,
					'label': row.title
					};
		});
		console.log(film);
		
		$ ("#filmInput").autocomplete (
		{
			source : film,
			select : function(event,ui){
				event.preventDefault();
				$(this).val(ui.item.label);
				$("#idFilm").val(ui.item.value);
				
				var filmId = $("#idFilm").val();
				var actorId = $("#idActor").text();
				$.getJSON("http://localhost:8080/linkActorFilm/"+filmId+"/"+actorId, function(data){
					if (data == 0)
						location.href = location.href;
				});
				
			}
		});
		
/* 		$("#link").click(function(){
			var filmId = $("#idFilm").val();
			var actorId = $("#idActor").text();
			$.getJSON("http://localhost:8080/linkActorFilm/"+filmId+"/"+actorId, function(data){
				if (data == 0)
					location.href = location.href;
			});
			
			
		}); */
		
	});//json
	
});//document ready
</script>

</head>
<body>
	<!-- <p th:text="'Kita hidup di ' + ${negara}"> </p>
	<p th:each="bhs : ${bahasa}" th:text="${bhs}"></p> -->
	
	<p th:text="'First Name: ' + ${actor.firstName}"></p>
	<p th:text="'Last Name: ' + ${actor.lastName}"></p>
	<p> <input type="text" id='filmInput'/> 
		<input type="hidden" id="idFilm"/>
		<div id="idActor" th:text="${actor.actorId}"></div>
	</p>
	<p> <input type="button" id='link' value="Simpan"/></p>
	
	<table id="details">
		<thead>
			<th>Title</th>
			<th>Description</th>
			<th>Release</th>
			<th>Detail</th>
		</thead>
		
		<tbody>
			<tr th:each="filmActor : ${films}">
				<td th:text="${filmActor.film.title}"></td>
				<td th:text="${filmActor.film.description}"></td>
				<td th:text="${filmActor.film.releaseYear}"></td>
				<td><a th:href="@{'/actor/film/' + ${filmActor.film.filmId}}"> Detail </a></td>
			</tr>
		</tbody>
		
	</table>
</body>
</html>